
%section.py-5
  .row
    .col-md-6
      .bg-white.p-5.border
        %p.text-muted
          Je souhaiterai inscrire mon association :
        .text-center
          = link_to new_association_path, class: "btn btn-success" do
            Inscrire une association

    .col-md-6
      .bg-white.p-5.border
        %p.text-muted
          J'ai déjà un compte, je souhaite me connecter :

        .text-center
          = link_to new_user_session_path, class: 'btn btn-primary mx-auto' do
            Se connecter