%section.content-header
  %h1
    Mon planning

%section.content
  .box
    .box-body
      #calendar

      .form-group
        %label Importer mon calendrier dans Google Agenda
        = text_field_tag :import, :import, value: user_events_url(current_user.id, format: :ics), class: "form-control readonly"


- content_for :scripts do
  = render "pages/scripts"
