%section.content-header
  %h1
    Planning de
    = @user.name
    %small
      = link_to users_path do
        Revenir aux membres

%section.content
  .row
    .col-md-8
      .box
        .box-body
          #calendar

- content_for :scripts do
  = render "users/events/scripts", user: @user
