%h3{style:"color:#1953bd; margin:none;"}
  Bonjour
  = @member.name

%p{style: "font-size:14px;line-height:18px;"}
  Vous venez d'être inscrit dans les listes de l'église évangélique de Blois et nous vous en remercions.

%p{style: "font-size:14px;line-height:18px;"}
  Conformément à la
  %b Réglementation Générale de la Protection des Données (RGPD 2018),
  vous avez la possibilité de
  %b consulter,
  %b modifier
  et
  %b supprimer
  les données personnelles que vous nous avez transmises.

%p{style: "font-size:14px;line-height:18px;"}
  Pour cela, nous mettons à votre disposition un espace dédié vous permettant de gérer vos informations personnelles :

%p{style: "font-size:14px;line-height:18px;"}
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to public_member_url(token: @token), style:"text-decoration:none;color:#000" do
      %strong Accéder à mon espace personnel

%p{style: "font-size:14px;line-height:18px;"}
  Ou en copiant le lien ci-dessous :

%p{style: "font-size:14px;line-height:18px;"}
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to public_member_url(token: @token), style:"text-decoration:none;color:#000" do
      = public_member_url(token: @token)

%p{style: "font-size:14px;line-height:18px;"}
  Merci de garder précieusement cet email afin de tenir vos informations à jour.
  %br
  Un nouvel email pourra vous être envoyé sur simple demande.

%p{style: "font-size:14px;line-height:18px;"}
  Que Dieu vous bénisse,

%p{style: "font-style:italic;font-size:14px;line-height:18px;"}
  L'équipe Communication de
  %strong
    l'église évangélique de Blois
