@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import "fullcalendar";
@import 'bootstrap-datetimepicker';
@import "jquery.minicolors";
@import "theme";

.calendar{
  max-width: 860px;
  margin: 0 auto;
}
.actions{
  position: absolute;
  top: 15px;
  right: 15px;
}
.main-header .sidebar-toggle{
  padding: 0;
}
.small-box .icon{
  top: 10px;
}

.navbar-custom-menu .nav>li{
  float: left;
}
.navbar-custom-menu .nav>li+li{
  margin-left: 20px;
}