%a.logo{:href => "/"}
  %span.logo-mini
    %b ADD
    Blois
  / logo for regular state and mobile devices
  %span.logo-lg
    %b ADD
    Blois
/ Header Navbar: style can be found in header.less
%nav.navbar.navbar-static-top{:role => "navigation"}
  / Sidebar toggle button
  %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
    %span.sr-only Masquer
  .navbar-custom-menu
    %ul.nav.navbar-nav
      / User Account: style can be found in dropdown.less
      - unless current_user.blank?
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = icon "user"
            %span.hidden-xs= current_user.name
          %ul.dropdown-menu
            / Menu Footer
            %li.user-footer
              .pull-left
                = link_to edit_user_registration_path, class: "btn btn-primary btn-flat" do
                  Mon profil
              .pull-right
                = link_to destroy_user_session_path, method: :delete, class: "btn btn-danger btn-flat" do
                  Se déconnecter
